@import "tailwindcss";

@theme {
  --color-primary: rgb(237, 234, 222);
  --color-secondary: rgb(135, 135, 73);
  --color-tertiary: rgb(51, 61, 41);
  --color-foreground: rgb(46, 46, 25);
  --color-muted: rgb(111, 111, 97);
  --color-accent: rgb(232, 232, 212);

  --font-libre-franklin: var(--font-libre-franklin), sans-serif;
  --font-roboto: var(--font-roboto), sans-serif;
  --font-bitcount: var(--font-bitcount), monospace;
  --font-russo: var(--font-russo), monospace;
}

@layer base {
  h1 {
    font-family: "Libre Franklin"
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .text-vertical {
    writing-mode: vertical-lr;
    text-orientation: upright;
    text-transform: uppercase;
  }

  .text-upright {
    text-orientation: upright;
  }

  .text-outline {
    text-shadow:
      -1px -1px 0 #000,
       1px -1px 0 #000,
      -1px  1px 0 #000,
       1px  1px 0 #000;
  }

}
