@import "tailwindcss";

@theme {
  --color-primary: rgb(237, 234, 222);
  --color-secondary: rgb(135, 135, 73);
  --color-tertiary: rgb(51, 61, 41);
  --color-foreground: rgb(46, 46, 25);
  --color-muted: rgb(111, 111, 97);
  --color-accent: rgb(232, 232, 212);
}

@layer base {
  h1 {
    font-family: "Libre Franklin"
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .text-vertical {
    writing-mode: vertical-lr;
    text-orientation: upright;
    text-transform: uppercase;
  }

  .font-libre-franklin {
    font-family: "Libre Franklin"
  }

  .font-roboto {
    font-family: "Roboto"
  }

  .font-bitcount {
    font-family: "Bitcount Prop Single"
  }
}
